html, body{
  margin:0;
  padding: 0;
  width:100%;
}

body{
  width:100%;
  height: 100vh;
  background: url(bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  font-family: montserrat;
}

nav{
  position: fixed;
  top: 0;
  left:0;
  margin: 0;

}
